*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Rufina";
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.routes {
  padding: 150px 200px 0 200px;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/routesBg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
  transition: 0.7s;
}
.routes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #233000;
  opacity: 0.8;
  z-index: -1;
}
.routes .close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 45px;
  left: 70px;
  width: 46px;
  height: 46px;
  cursor: pointer;
}
.routes .close span, .routes .close::after, .routes .close::before {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.2s;
}
.routes .close::after, .routes .close::before {
  content: "";
  position: absolute;
}
.routes .close::after {
  bottom: 50%;
  transform: rotate(-45deg);
  translate: 0 50%;
}
.routes .close::before {
  top: 50%;
  transform: rotate(45deg);
  translate: 0 -50%;
}
.routes .close span {
  opacity: 0;
}
.routes .routesBodyWrapper {
  height: 100%;
  overflow-y: auto;
}
.routes .routesBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.routes .links {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.routes .links li {
  padding-left: 14px;
  transition: 0.5s;
}
.routes .links li .linkTitle {
  display: flex;
  align-items: center;
}
.routes .links li .linkTitle .circle {
  display: block;
  font-size: 26px;
  margin-right: 10px;
}
.routes .links li .linkTitle a,
.routes .links li .linkTitle p {
  position: relative;
  color: white;
  font-family: "Rufina";
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.routes .links li .activeLink a,
.routes .links li .activeLink p,
.routes .links li .activeLink .circle {
  color: #9caa00;
}
.routes .links li .subLinks {
  overflow: hidden;
  height: 0px;
  margin: 0 0 0 15px;
  transition: 0.6s;
}
.routes .links li .subLinks li {
  height: auto;
  margin-bottom: 10px;
}
.routes .links li .subLinks li .linkTitle a {
  font-size: 19px;
}
.routes .links li .subLinks li .linkTitle .circle {
  font-size: 14px;
  margin-right: 5px;
}
.routes .links .containSubList > .linkTitle p::after, .routes .links .containSubList > .linkTitle p::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -40px;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.routes .links .containSubList > .linkTitle p::before {
  transform: translateY(-50%) rotate(40deg);
  right: -58px;
}
.routes .links .containSubList > .linkTitle p::after {
  transform: translateY(-50%) rotate(-40deg);
}
.routes .links .containSubList > .activeLink p::after,
.routes .links .containSubList > .activeLink p::before {
  background-color: #9caa00;
}
.routes .links .activeSubList .subLinks {
  margin: 10px 0 0 15px;
}
.routes .links .activeSubList > .linkTitle p::before {
  transform: translateY(-50%) rotate(140deg);
}
.routes .links .activeSubList > .linkTitle p::after {
  transform: translateY(-50%) rotate(-140deg);
}
.routes .menuContacts-title {
  font-weight: 700;
  font-size: 24px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 25px;
}
.routes .menuContacts-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border: 2px dashed white;
}
.routes .menuContacts p {
  font-family: "Lato", sans-serif;
}
.routes .menuContacts-adress {
  max-width: 200px;
  line-height: 24px;
  margin: 25px 0;
}
.routes .menuContacts-socialMedia {
  display: flex;
  gap: 0 20px;
}
.routes .menuContacts-socialMedia li {
  width: 30px;
  height: 30px;
}
.routes .menuContacts-socialMedia li a {
  display: block;
}
.routes .menuContacts-socialMedia li img {
  width: 100%;
  height: 100%;
  filter: invert(100);
}

@media (max-width: 1440px) {
  html,
  body {
    overflow-x: hidden;
  }
  .routes {
    padding: 150px 60px 0 70px;
  }
}
@media (max-width: 1024px) {
  .routes {
    padding: 150px 0 0 50px;
  }
  .routes .close {
    width: 40px;
    height: 40px;
    left: 35px;
  }
  .routes .links li .linkTitle a,
  .routes .links li .linkTitle p {
    font-size: 42px;
  }
  .routes .links .subLinks li .linkTitle a {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    max-width: 1015px;
  }
  .makingReservation {
    padding: 130px 0;
  }
  .makingReservation .reservation .reservationForms .fieldWrapper {
    width: calc(33.3333333333% - 25px);
  }
  .makingReservation .reservation .reservationForms .selectDate,
  .makingReservation .reservation .reservationForms .selectTime,
  .makingReservation .reservation .reservationForms .persoNumber {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 675px;
  }
  .makingReservation {
    padding: 120px 0;
  }
  .makingReservation .reservationTitle {
    margin-bottom: 75px;
  }
  .makingReservation .reservationTitle h2 {
    font-size: 52px;
  }
  .makingReservation .reservation .reservationForms {
    flex-direction: column;
    gap: 35px 0;
    flex-wrap: wrap;
  }
  .makingReservation .reservation .reservationForms .fieldWrapper,
  .makingReservation .reservation .reservationForms .field {
    width: 100%;
  }
  .routes .menuContacts-title {
    font-size: 24px;
    margin-bottom: 18px;
  }
  .routes .menuContacts-adress {
    margin: 15px 0;
  }
  .routes .menuContacts-socialMedia li {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 425px;
  }
  .makingReservation {
    padding: 100px 0;
  }
  .makingReservation .reservationTitle {
    margin-bottom: 75px;
  }
  .makingReservation .reservationTitle h2 {
    font-size: 47px;
    margin-bottom: 15px;
  }
  .makingReservation .reservationTitle p {
    font-size: 18px;
  }
  .makingReservation .reservation .reservationForms {
    margin-bottom: 65px;
  }
  .routes {
    padding: 90px 0 0 30px;
  }
  .routes .close {
    top: 25px;
    width: 35px;
    height: 35px;
  }
  .routes .routesBody {
    flex-direction: column;
    gap: 35px;
    align-items: start;
  }
}
@media (max-width: 442px) {
  .wrapper {
    max-width: 375px;
  }
  .makingReservation {
    padding: 85px 0;
  }
  .makingReservation .reservationTitle {
    margin-bottom: 65px;
  }
  .makingReservation .reservationTitle h2 {
    font-size: 44px;
  }
  .makingReservation .reservationTitle p {
    font-size: 17px;
  }
  .makingReservation .reservation .reservationForms {
    margin-bottom: 65px;
  }
  .makingReservation .reservation .reservationForms .field {
    height: 60px;
  }
  .makingReservation .reservation .booking {
    width: 195px;
    height: 55px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 287px;
  }
}

/*# sourceMappingURL=mainStyles.css.map */
